body{
    background-color: #222;
    color: blanchedalmond;
}

#flak_navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#flak_navbar li {
    display:inline;
}

#flak_navbar_first_items{
    font-size: xx-large;
    font-weight: bold;
}

a {
    color: blanchedalmond;
  }

.messageDisplayArea{
    overflow: hidden;
    overflow-y: scroll;
    width:80%;
    height: 50vh;
    background-color: #333;
    color: blanchedalmond;
}

.messageDisplayArea ul{
    list-style-type:none;
}

.flak_input{
    background-color: #333;
    color: blanchedalmond;
}

.flak_post_sender{
    LINE-HEIGHT: 1px;
}

.flak_post_message{
    LINE-HEIGHT:1px;
}

.flak_chat_room{
    background-color:#222;
    border: none;
    color: blanchedalmond;
    padding: 5px 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}



