{% extends "layout.html" %} 
{% block title %} FLAK {% endblock %} 

{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="{{ url_for('static', filename='chat_room.js') }}"></script>
{% endblock %}


{% block body %}
<div style="margin-top:30px; margin-left:20px">
    <h2 id="flak_room_name" data-room = "{{room.name}}">current room: {{room.name}}</h2>
    <div class="messageDisplayArea" id="postsPanel">
        <ul id="listOfPosts"> 
            {% for post in room.posts %}
            <li class="{{post.author_name}}">
                <br>
                <br>
                <p class="flak_post_sender">{{post.author_name}} {{post.time_stamp}}</p>
                <div class="w3-panel"><i>{{post.message}}</i></div>
            </li>
            {% endfor %}   
        </ul>
       
    </div>
    <br>

    <input id="messageToPost" type="text" class="flak_input" placeholder="type your message here">
    <button id="flak_post_message_button" type="submit">Post</button>
    <br>
    <br>
    <button id="go_to_chatrooms_board" >click here to visit other chatrooms</button>


</div>
{% endblock %}