{% extends "layout.html" %} 
{% block title %} FLAK {% endblock %} 

{% block head %}
<script src="{{ url_for('static', filename='chat_room.js') }}"></script>
{% endblock %}


{% block body %}
<div style="margin-top:30px">
    <h5 id="flak_room_name">{{room.name}}</h5>
    <div class="messageDisplayArea" id="postsPanel">
        <ul id="listOfPosts"> </ul>
    </div>
    <br>

    <input id="messageToPost" type="text" class="flak_input" placeholder="type your message here">
    <button id="flak_post_message_button" type="submit">Post</button>


</div>
{% endblock %}