{% extends "layout.html" %} 
{% block title %} FLAK {% endblock %} 

{% block head %}
<script src="{{ url_for('static', filename='chat_room.js') }}"></script>
{% endblock %}


{% block body %}
<div style="margin-top:30px">
    <h1 id="flak_room_name" data-room = "{{room.name}}">{{room.name}} chatroom</h1>
    <div class="messageDisplayArea" id="postsPanel">
        <ul id="listOfPosts"> 
            {% for post in room.posts %}
            <li class="{{post.author_name}}">
                <br>
                <h5 class="flak_post_sender">{{post.author_name}} {{post.time_stamp}}</h5>
                <h2 class="flak_post_message">{{post.message}}</h2>
            </li>
            {% endfor %}   
        </ul>
    </div>
    <br>

    <input id="messageToPost" type="text" class="flak_input" placeholder="type your message here">
    <button id="flak_post_message_button" type="submit">Post</button>


</div>
{% endblock %}