{% extends "layout.html" %} 
{% block title %} FLAK {% endblock %} 

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="{{ url_for('static', filename='chat_room.js') }}"></script>

{% endblock %}


{% block body %}
<div style="margin-top:30px">
</div>
<h2 id="flak_room_name" data-room = "{{room.name}}">current room: {{room.name}}</h2>

{% for post in room.posts %}

    <br>
    <h5 class="flak_post_sender">{{post.author_name}} {{post.time_stamp}}</h5>
    <div class="w3-panel"><p>{{post.message}}</p></div>

{% endfor %}   

<br>

<input id="messageToPost" type="text" class="flak_input" placeholder="type your message here">
<button id="flak_post_message_button" type="submit">Post</button>
<br>
<a href="{{ url_for('chat_rooms') }}"><h3>click here to visit other chatrooms</h3></a>



{% endblock %}