<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    {% block title %}{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='layout.js') }}"></script>
    

    {% block head %}
    {% endblock %}
    
</head>
<body>
        <ul id="flak_navbar">  
                <li id="flak_navbar_first_items">Hotel Chatanooga</li>
                <li id="flak_navbar_second_item"></li> 
        </ul>

    <div id="Flak_block_body">
        
    </div>
    {% block body %} {% endblock %}
</body>
</html>