{% extends "layout.html" %}

{% block title %}
FLAK-LOGIN
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}


{% block body %}
<br>
<h2><i>Welcome to the hotel Chatanooga, a place where you can chat as much as you like but you can never leave ...</i></h2>
<br>
<h2>type your name here and join:</h2>
<br>
<input id="flak_login_form_input" class="flak_input" type="text" placeholder="type your name here">
<button id="flak_form_button" class="flak_button" type="submit">Join</button>


{% endblock body %}